<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>мои любимые аниме-тайтлы</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body> 
    <header>
        <img class="logo" src="../static/pictures/ava.png" width="204px" height="204px" walt="Не удалось загрузить изображение">
        <h2 class="site-name">Сайт для поиска аниме</h2>
        <nav style="text-align: center;">
            <a class="nav-link"  href="/">Главная страница</a>
            <a class="nav-link"  href="#">Инфа про аниме</a>
            <a class="nav-link"  href="wathinganime">Просмотр Аниме</a>
        </nav>
    </header>
    <main>
        <h2 class="heading">Мои люимые аниме-тайтлы: Список и описание</h2>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">Хоримия</h2>
                <p class="anime-description">Увлекательная любовная история о двух неординарных личностях</p>
            </div>
            <a class="anime-link" href="https://animego.org/anime/horimiya-1686" target="_blank"><img src="../static/pictures/5wifes.jpg"  width="600px"   walt="Не удалось загрузить изображение"></a>
        </section>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">5 Невест</h2>
            <p class="anime-description">Удивительная история школьной жизни 5 близняшек и их отличника-репетитора</p>
            </div>
            
            <a href="https://jut.su/gotoubun-no-hanayome/" target="_blank"><img src="../static/pictures/horimiya-header.jpg" width="600px" walt="Не удалось загрузить изображение"></a>
        </section>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">Реинкарнация безработного</h2>
            <p class="anime-description">34-летний безработный  спасает группу подростков от смерти  под колесами грузовика, однако   погибает сам. Он перерождается в  волшебном мире под именем Рудеус Грейрат.</p>
            </div>
            
            <a href="https://jut.su/mushoku-tensei/" target="_blank"><img src="../static/pictures/nowork.jpg" width="600px" alt="Не удалось загрузить изображение"></a>
        </section>
    </main>
</body>
</html>