<!DOCTYPE html>
<html lang="en-ru">
<!-- Параметры странцицы -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<!-- Контент веб-страницы -->
<body>
    <!-- header - шапка сайта -->
    <header>
        <img class="logo" src="../static/pictures/ava.png" width="204px" height="204px" walt="Не удалось загрузить изображение">
        <h2 class="site-name">Сайт для поиска аниме</h2>
        <nav style="text-align: center;">
            <a class="nav-link"  href="#">Главная страница</a>
            <a class="nav-link"  href="anime">Инфа про аниме</a>
            <a class="nav-link"  href="wathinganime">Просмотр Аниме</a>
        </nav>
    </header>
    <h1>Добро пожаловать, {{ name }}</h1>
    <main>
        <h1>Всем привет!</h1>
        <p>Это первый урок по веб-разработке</p>
        <!-- hres - hyper referens - атрибут адреса ссылки -->
        <a href="https://www.youtube.com" target="_blank">Ютубчик</a>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uc8Rv4TBUc8?si=6X4l5Vl-RhNrQCXT" title="YouTube video   player" frameborder="0" allow="accelerometer; autoplay;   clipboard-write; encrypted-media; gyroscope; picture-in-picture;  web-share" referrerpolicy="strict-origin-when-cross-origin"  allowfullscreen style="display: block;"></iframe>
    </main>
    
</body>
</html>