<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр аниме с другом</title>
    <link rel="stylesheet" href="..//static/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/pictures/ava.png" width="204px" height="204px" walt="Не удалось загрузить изображение">
        <h2 class="site-name">Сайт для поиска аниме</h2>
        <nav style="text-align: center;">
            <a class="nav-link"  href="/">Главная страница</a>
            <a class="nav-link"  href="anime">Инфа про аниме</a>
            <a class="nav-link"  href="#">Просмотр Аниме</a>
        </nav>
    </header>
    <main>
        <h2 class="heading">Моя люимая манга: Список и описание</h2>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">Атака титанов</h2>
                <p class="anime-description">Отличный тайтл, с множеством сюжетных поворотов и хорошо прописанными персонажами. Сюжет очень динамичный, не успевают герои разобраться с одной проблемой как тут же натыкаются на ещё одну.</p>
            </div>
            <a class="anime-link" href="https://mangalib.me/shingeki-no-kyojin-before-the-fall?section=info" target="_blank"><img src="../static/pictures/titan.jpg"  width="600px"   walt="Не удалось загрузить изображение"></a>
        </section>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">Президент студсовета - горничная!</h2>
            <p class="anime-description">Однозначно одна из лучших сёдзе комедий, которая одинаково понравиться и парням, и девушкам.</p>
            </div>
            
            <a   href="https://mangalib.me/kaichou_wa_maid-sama?section=info" target="_blank"><img src="../static/pictures/maid.jpg" width="600px" walt="Не удалось загрузить изображение"></a>
        </section>
        <section class="anime-card">
            <div class="left">
                <h2 class="anime-name">Ванпанчмен</h2>
            <p class="anime-description">Что тут можно сказать, просто отличнейшая история о парне который побеждает врагов с одного удара так что бы на это было максимально интересно смотреть. </p>
            </div>
            
            <a  href="https://mangalib.me/one-punchman-one?section=info" target="_blank"><img src="../static/pictures/1punch.jpg" width="600px" alt="Не удалось загрузить изображение"></a>
        </section>
    </main>
</body>
</html>